In [33]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
train=pd.read_csv("C:\SachinP\Python_practice/insurance.csv")

In [3]:
train.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
one_hot_encoded_train = pd.get_dummies(train, columns = ['sex', 'smoker','region'])
print(one_hot_encoded_data)

      age     bmi  children      charges  sex_female  sex_male  smoker_no  \
0      19  27.900         0  16884.92400           1         0          0
1      18  33.770         1   1725.55230           0         1          1
2      28  33.000         3   4449.46200           0         1          1
3      33  22.705         0  21984.47061           0         1          1
4      32  28.880         0   3866.85520           0         1          1
...   ...     ...       ...          ...         ...       ...        ...
1333   50  30.970         3  10600.54830           0         1          1
1334   18  31.920         0   2205.98080           1         0          1
1335   18  36.850         0   1629.83350           1         0          1
1336   21  25.800         0   2007.94500           1         0          1
1337   61  29.070         0  29141.36030           1         0          0

      smoker_yes  region_northeast  region_northwest  region_southeast  \
0              1                 0                 0                 0
1              0                 0                 0                 1
2              0                 0                 0                 1
3              0                 0                 1                 0
4              0                 0                 1                 0
...          ...               ...               ...               ...
1333           0                 0                 1                 0
1334           0                 1                 0                 0
1335           0                 0                 0                 1
1336           0                 0                 0                 0
1337           1                 0                 1                 0

      region_southwest
0                    1
1                    0
2                    0
3                    0
4                    0
...                ...
1333                 0
1334                 0
1335                 0
1336                 1
1337                 0

[1338 rows x 12 columns]

In [12]:
X=one_hot_encoded_train.drop("charges",axis=1)

In [13]:
y=one_hot_encoded_train["charges"]

In [22]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=104,  
                                   test_size=0.25,  
                                   shuffle=True)

In [23]:
x_train.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
399,18,38.17,0,1,0,1,0,0,0,1,0
1236,63,21.66,0,1,0,1,0,1,0,0,0
326,27,23.21,1,1,0,1,0,0,0,1,0
971,34,23.56,0,1,0,1,0,1,0,0,0
344,49,41.47,4,1,0,1,0,0,0,1,0

In [24]:
y_train.head()

399      1631.6683
1236    14449.8544
326      3561.8889
971      4992.3764
344     10977.2063
Name: charges, dtype: float64

In [30]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [31]:
y_pred=model.predict(x_test)

In [32]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6386.252839758067